In [12]:
import requests as reqs
import pandas as pd
import io

# Govt website for data pull
source = 'https://data.london.gov.uk/download/average-house-prices/b1b0079e-698c-4c0b-b8c7-aa6189590ca4/land-registry-house-prices-borough.csv'
source_get = reqs.get(source).content

# Capture data for handling - io used to not require local instance.
data_set = pd.read_csv(io.StringIO(source_get.decode('utf-8')))

In [13]:
data_set.head()

        Code                  Area                  Year Measure    Value
0  E09000001        City of London  Year ending Dec 1995  Median  105,000
1  E09000002  Barking and Dagenham  Year ending Dec 1995  Median   49,000
2  E09000003                Barnet  Year ending Dec 1995  Median   85,125
3  E09000004                Bexley  Year ending Dec 1995  Median   62,000
4  E09000005                 Brent  Year ending Dec 1995  Median   68,000